@font-face {
  font-family: "Raleway", sans-serif;
  src: url(../fonts/Raleway/Raleway-Bold.woff) format("woff"),
    url(../fonts/Raleway/Raleway-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --main-text-cl: #757575;
  --title-cl: #212121;
  --accent-cl: #2196f3;
  --alt-text-cl: #ffffff, 60 %;
  --alt-title-cl: #ffffff;

  --dark-bg: #2f303a;
  --second-bg: #f5f4fa;
  --main-bg: #e5e5e5;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-family: "Raleway", sans-serif;
}
/* .list {
  list-style: none;
} */
